table {
  font-family: Arial, sans-serif;
  width: 400px;
}

td, th {
  border-style: outset;
  border-color: aliceblue;
  border-width: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}


.search-fields {
  display: flex;
  flex-direction: column; /* Arrange children in a vertical column */
  align-items: center;    /* Center forms horizontally */
  gap: 10px;  
  font-family: Arial, sans-serif;
  border-style: outset;
  border-color: aliceblue;
  border-width: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

p {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-style: outset;
  border-color: aliceblue;
  border-width: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.addForm {
  border: none;
}

#submit {
  width: 100%;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 12px;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 4px;
}
