<p>Request data from database:</p>

<form action="/{userId}">
  <label><b>User Id: </b></label>
  <input type="text" name="userId" [formControl]="form">
  <input type="submit" value="Search" (click)="getUser()">
</form>

<div *ngIf="user">
  <p>Rezultat:</p>
  <table>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td><button style="width: 100%;" routerLink="/user-details/{{user.id}}">View</button></td>
    </tr>
  </table>
</div>

<div *ngIf="error" class="alert">{{error}}</div>

<p *ngIf="isLoggedIn">User database contents:</p>

<table *ngIf="isLoggedIn">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let user of users">
    <td> {{user.id}} </td>
    <td>
      <input type="text" [(ngModel)]="user.email">
    </td>
    <td>
      <button routerLink="/user-details/{{user.id}}">View</button>
      <button [disabled]="!isAdmin" (click)="updateUser(user.id, user.email)">Update</button>
      <button [disabled]="!isAdmin" (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tr>
  
  <tr>
    <td>
      --
    </td>
    <td>
      <form>
        <input id="email" type="text" #email>
      </form>
    </td>
    <td>
      <input [disabled]="!isAdmin" id="submit" type="submit" value="Add" (click)="addUser(email.value)">
    </td>
  </tr>
</table>
