<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>

<div>
    <p>Welcome to the frontpage!</p>
</div>

<div>
<!--    <button type="submit" th:method="get" th:action="/getUsers"></button>-->
    <form th:action="@{/blog/getUsers}">
        <input type="submit" value="Get Users"/>
    </form>

    <br>
    <form th:action="@{/blog/getUser}">
        Id:
        <input type="text" name="id">
        <input type="submit" value="Get User"/>
    </form>

    <br>
    <form method="post" th:action="@{/blog/addUser}">
        Id:
        <input type="text" name="id">
        Email:
        <input type="text" name="email">
        Password:
        <input type="text" name="password">
        <input type="submit" value="Add User">
    </form>

<!--    <form method="post" th:object="${user}" th:action="@{blog/addUser}">-->
<!--        Id:-->
<!--        <input type="text" name="id" th:field="*{get().id}"/>-->
<!--        Email:-->
<!--        <input type="text" name="email" th:field="*{get().emailAddress}"/>-->
<!--        Password:-->
<!--        <input type="text" name="password" th:field="*{get().password}"/>-->
<!--        <input type="submit" value="Add User"/>-->
<!--    </form>-->

    <br>
    <form th:method="put" th:action="@{/blog/updateUser}">
        Id:
        <input type="text" name="id">
        Email:
        <input type="text" name="email">
        Password:
        <input type="text" name="password">
        <input type="submit" value="Update User">
    </form>

    <br>
    <form th:method="delete" th:action="@{/blog/deleteUser}">
        Id:
        <input type="text" name="id">
        <input type="submit" value="Delete User">
    </form>
</div>



<div th:if="${userrole} != null">
    <p>It EXISTS!</p>
    <th:block th:text="${userrole.get(0).getEmailAddress()}"></th:block>

</div>

<div th:if="${users} != null">

    <p>All Users</p>

    <ul>
        <li th:each="user: ${users}">
            <p th:text="${user.getEmailAddress()}"></p>
        </li>
    </ul>

</div>

<div th:if="${user} != null">
    <p>
        Id: <span th:text="${user.get().getId()}"></span>
    </p>

    <p>
        Email: <span th:text="${user.get().getEmailAddress()}"></span>
    </p>

    <p> Postari:
        <ul>
            <li th:each="post: ${user.get().getBlogPosts()}">
                <p th:text="${post.getTitle()}"></p>
            </li>
        </ul>
    </p>

</div>




</body>
</html>