
<div *ngIf="userDetails">
    <h2>{{ userDetails.username }}, id: {{userDetails.id}}</h2>
    <table>
        <th>Field</th>
        <th>Input</th>

        <tr>
            <th>
                <label for="username">Username</label>
            </th>
            <td>
                <input id="username" [(ngModel)]="userDetails.username" placeholder="name">
            </td>
        </tr>
        <tr>
            <th>
                <label for="email">Email</label>
            </th>
            <td>
                <input id="email" [(ngModel)]="userDetails.email" placeholder="email">
            </td>
        </tr>
        <tr>
            <th>
                <label for="password">Password</label>
            </th>
            <td>
                <input type="password" id="password" [(ngModel)]="userDetails.password" placeholder="password">
            </td>
        </tr>
        <tr>
            <th>
                <label for="age">Age</label>
            </th>
            <td>
                <input id="age" [(ngModel)]="userDetails.age" placeholder="age">
            </td>
        </tr>
        <tr>
            <th>
                <label for="gender">Gender</label>
            </th>
            <td>
                <select id="gender" name="gender" [(ngModel)]="userDetails.gender" placeholder="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="country">Country</label>
            </th>
            <td>
                <input id="country" [(ngModel)]="userDetails.country" placeholder="country">
            </td>
        </tr>
    </table>

    <div style="display: flex; justify-content: end; padding: 10px;"><button [disabled]="!authService.isAdmin? !(toBigInt(authService.currentUserDetailsId) == userDetails.id) : false" (click)="updateUserDetails()">Update</button></div>
</div>

<div *ngIf="!userDetails" class="alert">No details for admin account!</div>