#post-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-style: outset;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

input {
  margin-bottom: 3px;
}

#post-input .input-textarea {
  border-color: transparent;
  padding: 7px 7px 8px;
  line-height: 1.28;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-style: outset;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.post-title {
  width: 94%;
  flex: 1;
  border-color: transparent;
  padding: 7px 7px 8px;
  line-height: 1.28;
  resize: none;
}

.post-content {
  flex: 1;
  border-color: transparent;
  padding: 7px 7px 8px;
  line-height: 1.28;
  resize: none;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    font-style: italic;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
  }

  .input-alert {
    border-color: #f5c6cb;
  }

  .post-button {
    display: inline;
    height: 20px;
    width: 20px;
    border-color: transparent;
    background-color: white;
  }

  button:hover,
  button.active {
    background-color:aliceblue;
    border-color: antiquewhite;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }
