
<div id="post-input">
    <input [class.input-alert]="!authService.isLoggedIn" [disabled]="!authService.isLoggedIn" 
        name="title" placeholder="Write a title.." #title>
    <textarea class="input-textarea" [class.input-alert]="!authService.isLoggedIn" [disabled]="!authService.isLoggedIn" 
        name="content" placeholder="Write a post.." #content></textarea>
    <div>
        <button *ngIf="authService.isLoggedIn" (click)="savePost(title.value, content.value)" [disabled]="!authService.isLoggedIn">&#10148;</button>
    </div>
</div>

<div *ngIf="!authService.isLoggedIn" class="alert"> {{ error }} </div>

<div *ngFor="let post of posts" class="posts">
    <div class="button-container">
        <button class="post-button" (click)="editPost(post)" [class.active]="post.editable">&#9998;</button>
        <button class="post-button" (click)="updatePost(post)">&#x2714;</button>
        <button class="post-button" (click)="deletePost(post.id)">&#x2715;</button>
    </div>
    
    <textarea class="post-title" [(ngModel)]="post.title" [disabled]="!post.editable"></textarea>
    <textarea class="post-content" [(ngModel)]="post.content" [disabled]="!post.editable"></textarea>

    <div class="post-info">
        <p>By <a routerLink="/user-details/{{post.author.id}}">{{ post.author.username }}</a></p>
        <p>{{ post.localDateTime | date: "HH:mm dd:MM:yyyy" }}</p>
    </div>
</div>

<div class="posts">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
