.posts {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-style: outset;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    font-style: italic;
}