<p>Welcome to the Users page!</p>

<p>Database contents!</p>
<table>
  <tr>
    <th>Id</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td> {{user.id}} </td>
    <td>
      <input type="text" [(ngModel)]="user.email">
    </td>
    <button (click)="updateUser(user.id, user.email)">Update</button>
    <button (click)="deleteUser(user.id)">Delete</button>
  </tr>
</table>

<form>
  ----
  <input id="email" type="text" #email>-
  <input type="submit" value="Add" (click)="addUser(email.value)">
</form>

